In [104]:
import pandas as pd
import numpy as np
import requests, json
import datetime

In [105]:
df = pd.read_excel('DataBase.xlsx')
df

                     id  analog  mgl     solution
0   ETL6661438882291332   24260    0  ZERO ÁLCOOL
1   ETL6661438882291332   24324    0  ZERO ÁLCOOL
2   ETL6661438882291332   24294    0  ZERO ÁLCOOL
3   ETL2458275857704919   24288    0  ZERO ÁLCOOL
4   ETL2458275857704919   24096    0  ZERO ÁLCOOL
5   ETL2458275857704919   24026    0  ZERO ÁLCOOL
6   ETL5315979363821063   23625    0  ZERO ÁLCOOL
7   ETL5315979363821063   23613    0  ZERO ÁLCOOL
8   ETL5315979363821063   23598    0  ZERO ÁLCOOL
9   ETL6716899340481343   21284    0  ZERO ÁLCOOL
10  ETL6716899340481343   21284    0  ZERO ÁLCOOL
11  ETL6716899340481343   21293    0  ZERO ÁLCOOL
12  ETL4648672559699299   22649    0  ZERO ÁLCOOL
13  ETL4648672559699299   22599    0  ZERO ÁLCOOL
14  ETL4648672559699299   22547    0  ZERO ÁLCOOL
15  ETL6944980286031389   23495    0  ZERO ÁLCOOL
16  ETL6944980286031389   23485    0  ZERO ÁLCOOL
17  ETL6944980286031389   23421    0  ZERO ÁLCOOL

In [106]:
df['timestamp'] = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
df.columns = ['sensor_id', 'analog', 'mgl', 'solution', 'timestamp']
df

              sensor_id  analog  mgl     solution            timestamp
0   ETL6661438882291332   24260    0  ZERO ÁLCOOL  2025-03-24 14:18:12
1   ETL6661438882291332   24324    0  ZERO ÁLCOOL  2025-03-24 14:18:12
2   ETL6661438882291332   24294    0  ZERO ÁLCOOL  2025-03-24 14:18:12
3   ETL2458275857704919   24288    0  ZERO ÁLCOOL  2025-03-24 14:18:12
4   ETL2458275857704919   24096    0  ZERO ÁLCOOL  2025-03-24 14:18:12
5   ETL2458275857704919   24026    0  ZERO ÁLCOOL  2025-03-24 14:18:12
6   ETL5315979363821063   23625    0  ZERO ÁLCOOL  2025-03-24 14:18:12
7   ETL5315979363821063   23613    0  ZERO ÁLCOOL  2025-03-24 14:18:12
8   ETL5315979363821063   23598    0  ZERO ÁLCOOL  2025-03-24 14:18:12
9   ETL6716899340481343   21284    0  ZERO ÁLCOOL  2025-03-24 14:18:12
10  ETL6716899340481343   21284    0  ZERO ÁLCOOL  2025-03-24 14:18:12
11  ETL6716899340481343   21293    0  ZERO ÁLCOOL  2025-03-24 14:18:12
12  ETL4648672559699299   22649    0  ZERO ÁLCOOL  2025-03-24 14:18:12
13  ETL4648672559699299   22599    0  ZERO ÁLCOOL  2025-03-24 14:18:12
14  ETL4648672559699299   22547    0  ZERO ÁLCOOL  2025-03-24 14:18:12
15  ETL6944980286031389   23495    0  ZERO ÁLCOOL  2025-03-24 14:18:12
16  ETL6944980286031389   23485    0  ZERO ÁLCOOL  2025-03-24 14:18:12
17  ETL6944980286031389   23421    0  ZERO ÁLCOOL  2025-03-24 14:18:12

In [107]:
df.solution.unique()

array(['ZERO ÁLCOOL'], dtype=object)

In [108]:
data = [row.to_dict() for i, row in df.iterrows()]
data

[{'sensor_id': 'ETL6661438882291332',
  'analog': 24260,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL6661438882291332',
  'analog': 24324,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL6661438882291332',
  'analog': 24294,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL2458275857704919',
  'analog': 24288,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL2458275857704919',
  'analog': 24096,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL2458275857704919',
  'analog': 24026,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL5315979363821063',
  'analog': 23625,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL5315979363821063',
  'analog': 23613,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL5315979363821063',
  'analog': 23598,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL6716899340481343',
  'analog': 21284,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL6716899340481343',
  'analog': 21284,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL6716899340481343',
  'analog': 21293,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL4648672559699299',
  'analog': 22649,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL4648672559699299',
  'analog': 22599,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL4648672559699299',
  'analog': 22547,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL6944980286031389',
  'analog': 23495,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL6944980286031389',
  'analog': 23485,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'},
 {'sensor_id': 'ETL6944980286031389',
  'analog': 23421,
  'mgl': 0,
  'solution': 'ZERO ÁLCOOL',
  'timestamp': '2025-03-24 14:18:12'}]

In [109]:
data[0]

{'sensor_id': 'ETL6661438882291332',
 'analog': 24260,
 'mgl': 0,
 'solution': 'ZERO ÁLCOOL',
 'timestamp': '2025-03-24 14:18:12'}

In [110]:
data = json.dumps(data, ensure_ascii=False)
data

'[{"sensor_id": "ETL6661438882291332", "analog": 24260, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL6661438882291332", "analog": 24324, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL6661438882291332", "analog": 24294, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL2458275857704919", "analog": 24288, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL2458275857704919", "analog": 24096, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL2458275857704919", "analog": 24026, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL5315979363821063", "analog": 23625, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL5315979363821063", "analog": 23613, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL5315979363821063", "analog": 23598, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL6716899340481343", "analog": 21284, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL6716899340481343", "analog": 21284, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL6716899340481343", "analog": 21293, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL4648672559699299", "analog": 22649, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL4648672559699299", "analog": 22599, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL4648672559699299", "analog": 22547, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL6944980286031389", "analog": 23495, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL6944980286031389", "analog": 23485, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}, {"sensor_id": "ETL6944980286031389", "analog": 23421, "mgl": 0, "solution": "ZERO ÁLCOOL", "timestamp": "2025-03-24 14:18:12"}]'

In [111]:
serverURL = r'https://sighir.com:8000/api/addSensors/'
response = requests.post(serverURL, data=data, timeout=100000)
response

In [112]:
response.text

'{"status": "success", "data": "data inserted"}'

In [113]:
response.json()

{'status': 'success', 'data': 'data inserted'}