In [42]:
import pandas as pd
import requests
from datetime import datetime

In [43]:
df = pd.read_excel('NewData.xlsx')
df.head()

                    id  analog  mgl
0  ETL7037009852791407   25019    0
1  ETL7037009852791407   25547    0
2  ETL7037009852791407   25200    0
3  ETL7023816672941404   24740    0
4  ETL7023816672941404   25503    0

In [44]:
now = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
now

'2024-08-01 12:25:24'

In [45]:
list = []

for i in range(len(df)):
    row = df.iloc[i].to_dict()
    
    list.append({
        'sensor_id': row['id'],
        'analog': row['analog'],
        'mgl': row['mgl'],
        'timestamp': now
    })

list

[{'sensor_id': 'ETL7037009852791407',
  'analog': 25019,
  'mgl': 0,
  'timestamp': '2024-08-01 12:25:24'},
 {'sensor_id': 'ETL7037009852791407',
  'analog': 25547,
  'mgl': 0,
  'timestamp': '2024-08-01 12:25:24'},
 {'sensor_id': 'ETL7037009852791407',
  'analog': 25200,
  'mgl': 0,
  'timestamp': '2024-08-01 12:25:24'},
 {'sensor_id': 'ETL7023816672941404',
  'analog': 24740,
  'mgl': 0,
  'timestamp': '2024-08-01 12:25:24'},
 {'sensor_id': 'ETL7023816672941404',
  'analog': 25503,
  'mgl': 0,
  'timestamp': '2024-08-01 12:25:24'},
 {'sensor_id': 'ETL7023816672941404',
  'analog': 25967,
  'mgl': 0,
  'timestamp': '2024-08-01 12:25:24'},
 {'sensor_id': 'ETL4329349511828661',
  'analog': 29131,
  'mgl': 0,
  'timestamp': '2024-08-01 12:25:24'},
 {'sensor_id': 'ETL4329349511828661',
  'analog': 29202,
  'mgl': 0,
  'timestamp': '2024-08-01 12:25:24'},
 {'sensor_id': 'ETL4329349511828661',
  'analog': 29299,
  'mgl': 0,
  'timestamp': '2024-08-01 12:25:24'}]

In [46]:
import json
json.dumps(list)

'[{"sensor_id": "ETL7037009852791407", "analog": 25019, "mgl": 0, "timestamp": "2024-08-01 12:25:24"}, {"sensor_id": "ETL7037009852791407", "analog": 25547, "mgl": 0, "timestamp": "2024-08-01 12:25:24"}, {"sensor_id": "ETL7037009852791407", "analog": 25200, "mgl": 0, "timestamp": "2024-08-01 12:25:24"}, {"sensor_id": "ETL7023816672941404", "analog": 24740, "mgl": 0, "timestamp": "2024-08-01 12:25:24"}, {"sensor_id": "ETL7023816672941404", "analog": 25503, "mgl": 0, "timestamp": "2024-08-01 12:25:24"}, {"sensor_id": "ETL7023816672941404", "analog": 25967, "mgl": 0, "timestamp": "2024-08-01 12:25:24"}, {"sensor_id": "ETL4329349511828661", "analog": 29131, "mgl": 0, "timestamp": "2024-08-01 12:25:24"}, {"sensor_id": "ETL4329349511828661", "analog": 29202, "mgl": 0, "timestamp": "2024-08-01 12:25:24"}, {"sensor_id": "ETL4329349511828661", "analog": 29299, "mgl": 0, "timestamp": "2024-08-01 12:25:24"}]'

In [47]:
response = requests.post('https://sighir.com:8000/addSensors/', json.dumps(list), timeout=50)
response

In [48]:
response.json()

{'status': 'success', 'data': 'data inserted'}